[submodule "MES/libs/spdlog"]
	path = MES/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MES/libs/pugixml"]
	path = MES/libs/pugixml
	url = https://github.com/zeux/pugixml
[submodule "MES/libs/open62541"]
	path = MES/libs/open62541
	url = https://github.com/open62541/open62541
